<div class="row">
  <div class="span12">
<h2>Add a New Theme</h2>


<%= form_tag(themes_url) do %>
<p>
  <%= label_tag :name %>
  <%= text_field_tag :name, "", size: 80, placeholder: "Theme name..." %>
</p>



  <div>
    <%= submit_tag "Create Theme" %>
  </div>
<% end %>
